body{
    font-family: 'Poppins', sans-serif;
    background-color: beige;
    text-align: center;
    margin: 0;
    padding: 0;
}

h4{
    padding: 30px;
}

.publicacion{
    text-align: left;
    margin: 20px;
    color: #555;
    opacity: 0;
    animation: aparecer 1s forwards;
    -webkit-animation: aparecer 1s forwards 0.5s;
}


.publicacion p{
    padding: 10px 20px;
    border-left: 2px solid #48e;
}

.publicacion h3{
    color: #48e;
    border-bottom: 2px solid #48e;;
    display: inline-block;
}

.comentarios{
    display: flex;
    width: 100%;
}

.comentarios input{
    padding: 6px 10px;
    border: none;
    background: #48e;
    color:#fff;
    margin:2px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    outline: none;
    
}

.enviar{
    cursor: pointer;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.enviar:hover{
    background:rgb(49, 95, 165);
    color: #bcf;
}

.comentarios .comentario{
    flex-grow: 1;
}

.comentarios .enviar{
    min-width:60px;
    padding: 10px;
    font-weight: 700;
}

.comentario::placeholder{
    color: #bcf
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
